.progress-bar-container {
    background: #ddd;
    border-radius: 20px;
    width: 100%;
    height: 15px;
    margin-top: 10px;
  }
  
  .progress-bar {
    background: #ffba08;
    height: 100%;
    border-radius: 20px;
    transition: width 0.5s;
  }
  